body {
  font-family: sans-serif;
  background-color: #f7f7f7;
}

header {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

.navbar {/
  text-align: left;
  flex-direction: row-reverse;
}

nav {
  background-color: #000;
  color: #fff;
  padding: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #f00;
}

main {
  padding: 20px;
}

.container {
  width: 90%;
}

.row {
  margin-top: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-subtitle {
  font-size: 16px;
  font-style: italic;
}

.btn {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #f00;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

/* Estilos del carrito de compras */

.carrito {
  margin-bottom: 20px;
}

.carrito table {
  width: 100%;
}

.carrito table thead th {
  text-align: left;
}

.carrito table tbody tr td {
  padding: 5px;
}

.carrito table tbody tr td:last-child {
  width: 100px;
}

.carrito table tbody tr td button {
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.carrito table tbody tr td button:hover {
  background-color: #f00;
}
